<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All tests Suite">
    <test verbose="2" preserve-order="true" name="D:/Java course/1qa/final">
        <classes>
            <class name="tests.TestFinal"></class>
        </classes>
    </test>
</suite>